
header.header
  .container
    .row.align-items-center
      .col-3
      .col-4
        .inner-menu
          ul
            if(user)
              li 
                a(href="/user/logout") Đăng xuất
              li
                a(href="/chat") chat
            else
              li 
                a(href="/user/login") Đăng nhập
              li 
                a(href="/user/register") Đăng kí